In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data=pd.read_csv('DistanceHealth.csv')
data.head(-1)

,frame,eyes,eyeRearR,eyeRearL,eyeRnose,eyeLearR,eyeLearL,eyeLnose,ears,earRnose,earLnose
0,339.0,212.0,385.186968,454.614122,226.108381,469.068225,377.690349,132.774244,320.039060,567.101402,510.106852
1,340.0,214.0,384.365711,449.010022,239.708156,470.026595,364.869840,139.168962,331.489065,578.695948,504.025793
2,341.0,212.0,382.099463,438.600046,238.805360,468.802730,354.685776,143.401534,331.942766,579.589510,498.086338
3,343.0,208.0,383.718647,437.759066,246.916990,466.861864,348.919762,142.126704,339.807298,584.999145,490.025510
4,361.0,227.0,362.244393,498.453609,236.400085,443.136548,363.324923,146.996599,400.910214,548.607328,509.251411
...,...,...,...,...,...,...,...,...,...,...,...
1451,35419.0,230.0,396.181776,589.804205,209.442116,464.090508,468.048074,144.450684,409.161337,554.034295,611.873353
1452,35420.0,229.0,419.096648,612.794419,210.411502,473.245180,491.945119,142.225174,399.010025,569.361924,633.790186
1453,35421.0,225.0,430.047672,626.460693,210.679852,471.238793,503.167964,144.086779,393.471727,576.042533,647.213257
1454,35422.0,227.0,426.937935,642.059187,206.651881,459.461641,506.700109,148.485690,406.964372,566.583621,655.183180
1455,35424.0,225.0,434.835601,651.448386,203.199409,455.803686,512.454876,145.825238,401.498443,564.588346,658.262106

In [3]:
average=200
print(average)
data=data[(data.eyes < average*1.05)&(data.eyes > average*0.95)]
data.head(-1)

200

,frame,eyes,eyeRearR,eyeRearL,eyeRnose,eyeLearR,eyeLearL,eyeLnose,ears,earRnose,earLnose
3,343.0,208.0,383.718647,437.759066,246.916990,466.861864,348.919762,142.126704,339.807298,584.999145,490.025510
26,391.0,194.0,374.711889,445.906941,250.225898,442.159473,325.135356,153.052279,390.287074,578.510155,466.203818
27,392.0,191.0,371.796988,435.932334,255.800704,441.542750,317.553145,153.639188,390.701932,581.381974,456.176501
44,626.0,207.0,421.200665,515.388203,249.803923,463.548271,377.986772,161.793078,398.729231,608.611535,529.034025
45,627.0,200.0,427.074935,498.958916,246.333108,474.966315,372.236484,166.973052,396.556427,622.694949,530.727802
...,...,...,...,...,...,...,...,...,...,...,...
1380,34959.0,196.0,429.330875,423.759366,229.617073,534.652223,396.025252,140.698259,317.025236,638.038400,534.632584
1381,34960.0,195.0,425.254042,420.789734,231.812424,528.503548,391.751197,141.428427,313.057503,635.051179,531.636154
1382,34961.0,195.0,419.834491,418.226015,230.228148,520.419062,383.950518,141.598023,313.193231,627.019936,524.186990
1383,34962.0,193.0,422.910156,420.315358,229.889104,520.864666,388.085042,143.589693,307.197005,630.087296,530.241454
1446,35167.0,197.0,442.308716,512.249939,248.068539,505.689628,418.484169,163.306460,376.027924,648.448148,578.496327

In [4]:
data.to_excel('test1.xlsx',index=0)
data.to_csv('test1.csv',index=0)

In [5]:
#讀取xlsx
import openpyxl
from openpyxl import load_workbook
wb = load_workbook('test1.xlsx')
print(wb.sheetnames)
sheet = wb.active

['Sheet1']

In [6]:
frame = []
for i in range(2, len(data)):
    frame.append(sheet.cell(row=i, column=1).value)
print(frame)

[343, 391, 392, 626, 627, 628, 629, 660, 1533, 1534, 1535, 1536, 1537, 1538, 1539, 1540, 1546, 2350, 2351, 2352, 2701, 2706, 2707, 3070, 3071, 3072, 3073, 3074, 3075, 3076, 3078, 3920, 3946, 5137, 5290, 6213, 6214, 6830, 6831, 7401, 7403, 7409, 7918, 7919, 7964, 7980, 7981, 7982, 8998, 9000, 9002, 9003, 9004, 9007, 9393, 9394, 9395, 9396, 9819, 9820, 9827, 9828, 9829, 9830, 10361, 10365, 10369, 10370, 10380, 10401, 10408, 10503, 10504, 10505, 10506, 11013, 11014, 12014, 12015, 13427, 13428, 13429, 13430, 14087, 15043, 15044, 15045, 15046, 15047, 15049, 15255, 15258, 15259, 15260, 15262, 15263, 15270, 15344, 15345, 15947, 15948, 15949, 15950, 15951, 17071, 17072, 17073, 17746, 18465, 18466, 18467, 18468, 18479, 18480, 18484, 18485, 18486, 18487, 18488, 18489, 18490, 18491, 18850, 18856, 18857, 18859, 18860, 19797, 19798, 19799, 19800, 19801, 19802, 19803, 19804, 19807, 19808, 19809, 19810, 19811, 19812, 19813, 19814, 19815, 19842, 19843, 20305, 20306, 20509, 20510, 20687, 20688, 20689, 21525, 21526, 21527, 22338, 22339, 23420, 23421, 23422, 23423, 23424, 23425, 23427, 23428, 23429, 23430, 23431, 23434, 23435, 23436, 23437, 23438, 23439, 23440, 23441, 23644, 23645, 23646, 24251, 24388, 24390, 24411, 24412, 24415, 24418, 24419, 24423, 24424, 24425, 24426, 24427, 24428, 24429, 26372, 26373, 26374, 26378, 26379, 29986, 29987, 29988, 29989, 29990, 30570, 30571, 30572, 30573, 30574, 30831, 31172, 31173, 31174, 31175, 31176, 31177, 31178, 31179, 31180, 31181, 31182, 31183, 31184, 31185, 31186, 31187, 31188, 31213, 31214, 31215, 32324, 32325, 32326, 32327, 32328, 32329, 32330, 32332, 32333, 32336, 32339, 32353, 32356, 32357, 32358, 32360, 32361, 33356, 33357, 33358, 33359, 33360, 33361, 33362, 33420, 33421, 33422, 33423, 33424, 33425, 33426, 33427, 34255, 34256, 34263, 34754, 34776, 34777, 34778, 34780, 34781, 34782, 34915, 34916, 34918, 34919, 34920, 34921, 34937, 34938, 34940, 34941, 34942, 34943, 34944, 34945, 34946, 34947, 34948, 34949, 34950, 34951, 34952, 34953, 34954, 34955, 34956, 34957, 34958, 34959, 34960, 34961, 34962]

In [7]:
print(len(frame))

304

In [8]:
import os
import shutil
#find frame
path_jpg='D:/rat_video/yolo_facial_pattern_data/20191226_CFA/20191226_CFA_KT/health/'
copy_to='D:/rat_video/yolo_facial_pattern_data/20191226_CFA/20191226_CFA_KT/health/save1/'

j=0
for i in frame:
    Outpath= str(+frame[j])+'.jpg'
    framepath = os.path.join(path_jpg, Outpath)
    print(framepath)
    j=j+1
    shutil.copy(framepath, copy_to)

TypeError: bad operand type for unary +: 'str'